/*Especificidad: 001*/
/************************
  Abel Busto Dopazo - UO284262
Descripción de estilos
************************/

body {
  background-color: rgb(121, 169, 123);
  color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 3em 3em 3em 3em;
}

h1 {
  font-size: 5em;
  border: 5px double white;
  background-color: burlywood;
  color: white;
  border-radius: 1em;
  text-align: center;
  margin: 0em 3em 0em 3em;
}

article {
  display: grid;
  grid-template-areas: "texto multimedia"
                       "texto multimedia"
                       "nombre nombre";
}

article h2 {
  font-size: 2em;
  grid-area: nombre;
  justify-self: center;
}

article section {
  border: 5px double white;
  background-color:rgb(121, 169, 123);
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
}

article section:first-of-type{
  grid-area: texto;
  font-size: 1.2em;
}

article section:last-of-type {
  grid-area: multimedia;
}

article {
  border: 5px double white;
  background-color: burlywood;
  border-radius: 1em;
  padding: 1em;
  margin: 5em;
}


